<div class="mx-6 lg:mx-20">
    <p class="text-4xl mb-5">CHÁY III: ETERNAL LOVE</p>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
            <img class="object-scale-down mx-auto" src="assets/imgs/chay3.jpg" />
        </div>
        <div class="pl-0 pt-4 lg:pl-4 lg:pt-0">
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Thông tin</p>
                    <div class="flex">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                        <p>6h30 - 22h00 | 22/11/2020</p>
                    </div>
                    <div class="flex mb-2">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"/></svg>
                        <p>Hanoi Rock City</p>
                    </div>
                    <p>"Tiếng sét ái tình đã đánh <br /> Xem như duyên chúng ta…"</p>
                    <p>Tình yêu học đường thật ngây thơ, khờ dại nhưng lại cũng thật thuần khiết, tươi mới.</p>
                    <p>Ai đó đã từng nói, tình đầu chính là thứ phép màu tuyệt diệu đầu tiên mà con người ta đánh mất trong cuộc đời này. Dù có thể cùng nhau đi đến tận cùng hay không, thì đó vẫn là thứ tình cảm đẹp đẽ và chân thành nhất mà sẽ mãi mãi khắc ghi trong tim mỗi người.</p>
                    <p>Eternal Love - không chỉ là mối tình vĩnh cửu đến trăm năm, mà còn là thứ cảm xúc khiến người ta lưu luyến cho đến cuối cùng.</p>
                </div>
            </div>
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Khách mời</p>
                    <p>NAELIZ</p>
                    <p>Thu Vân</p>
                </div>
            </div>
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Nhà tài trợ</p>
                    <p>Kim cương: <a class="link" href="https://www.facebook.com/2000sProduction/">2000s Production</a></p>
                    <p>Vàng: <a class="link" href="https://www.facebook.com/class.panda/">Miss Ngân Panda English Class</a></p>
                    <p>Vàng: <a class="link" href="https://www.facebook.com/vietmusicstudio2012/">Vietmusicstudio</a></p>
                    <p>Bạc: <a class="link" href="https://www.facebook.com/Th%E1%BA%A7y-Minh-%C4%90%E1%BB%A9c-GV-To%C3%A1n-chuy%C3%AAn-luy%E1%BB%87n-thi-%C4%90H-10-11-12-255023221633860/">Thầy Minh Đức - GV Toán chuyên luyện thi ĐH 10 11 12</a></p>
                </div>
            </div>
        </div>
    </div>
</div>