<header class="bg-gray-600 text-white px-4 py-2 mb-6 flex items-center">
    <div class="text-2xl mr-8">PIC</div>
    <div class="site-nav text-white">
        <a class="py-1 px-2" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="py-1 px-2" routerLink="/photos" routerLinkActive="active">Photos</a>
        <a class="py-1 px-2" routerLink="/events" routerLinkActive="active">Events</a>
        <a class="py-1 px-2" routerLink="/about" routerLinkActive="active">About</a>
    </div>
</header>
<router-outlet></router-outlet>