<div class="mx-6 lg:mx-20">
    <p class="text-4xl mb-5">Photos</p>
    <div class="grid grid-cols-1">
        <div>
            <p class="text-2xl">2nd photoshoot</p>
            <div class="grid grid-cols-1 gap-2 mb-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
                <div class="shadow-lg p-2" *ngFor="let i of pts2">
                    <a href="{{'assets/imgs/pts2_' + i + '.jpg'}}"><img src="{{'assets/imgs/pts2_' + i + '.jpg'}}" /></a>
                </div>
            </div>
        </div>
        <div>
            <p class="text-2xl">1st photoshoot</p>
            <div class="grid grid-cols-1 gap-2 mb-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
                <div class="shadow-lg p-2" *ngFor="let i of pts1">
                    <a href="{{'assets/imgs/pts1_' + i + '.jpg'}}"><img src="{{'assets/imgs/pts1_' + i + '.jpg'}}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>