<div class="mx-6 lg:mx-20">
    <p class="text-4xl mb-5">Photos</p>
    <div class="grid grid-cols-1">
        <div>
            <p class="text-2xl">2nd photoshoot</p>
            <div class="grid grid-cols-1 gap-2 mb-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_1.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_2.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_3.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_4.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_5.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_6.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_7.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_8.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_9.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_10.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_11.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_12.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_13.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_14.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_15.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_16.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_17.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_18.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_19.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_20.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_21.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_22.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_23.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_24.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_25.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_26.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_27.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_28.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_29.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_30.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_31.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts2_32.jpg" />
                </div>
            </div>
        </div>
        <div>
            <p class="text-2xl">1st photoshoot</p>
            <div class="grid grid-cols-1 gap-1 lg:grid-cols-5 lg:gap-2">
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_1.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_2.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_3.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_4.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_5.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_6.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_7.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_8.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_9.jpg" />
                </div>
                <div class="shadow-lg p-2">
                    <img src="assets/imgs/pts1_10.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>