<div class="mx-6 lg:mx-20">
    <p class="text-4xl mb-5">Lẩu 2</p>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
            <img class="object-scale-down mx-auto" src="assets/imgs/lau2.jpg" />
        </div>
        <div class="pl-0 pt-4 lg:pl-4 lg:pt-0">
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Thông tin</p>
                    <div class="flex">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                        <p>16h00 - 20h00 | 06/01/2019</p>
                    </div>
                    <div class="flex mb-2">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"/></svg>
                        <p>Phố đi bộ Hoàn Kiếm</p>
                    </div>
                    <p>Lẩu 2 - nơi hội tụ các tài năng với tình yêu âm nhạc.</p>
                    <p>Ở Lẩu 2, không chỉ có PIC mà còn có rất nhiều vị khách mời đặc biệt nữa.</p>
                    <p>Cùng PIC, các vị khách mời sẽ gửi tới các bạn những bản cover được chuẩn bị cực kì công phu.</p>
                    <p>Trời lạnh thế này, lên phố đi bộ, uống một cốc cacao nóng, đứng nhún nhảy theo điệu nhạc, còn gì tuyệt bằng?</p>
                    <p>Lên phố đi bộ với chúng tớ, biết đâu các cậu sẽ tìm được người cùng sưởi ấm mùa đông này?</p>
                    <p>Chỉ còn 2 ngày nữa thôi là đến Lẩu 2 rồi, chuẩn bị thôi nào!</p>
                </div>
            </div>
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Khách mời</p>
                    <p><a class="link" href="https://www.facebook.com/kidswithblacknails/">PDP Rock Cult</a></p>
                    <p><a class="link" href="https://www.facebook.com/GleePdp/">Glee PDP</a></p>
                    <p><a class="link" href="https://www.facebook.com/LTVartista">LTV ARTISTA</a></p>
                </div>
            </div>
        </div>
    </div>
</div>