<div class="mx-6 lg:mx-20">
    <p class="text-4xl mb-5">Lẩu</p>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
            <img class="object-scale-down" src="assets/imgs/lau.jpg" />
        </div>
        <div class="pl-0 pt-4 lg:pl-4 lg:pt-0">
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Thông tin</p>
                    <div class="flex">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>
                        <p>15h00 - 20h00 | 26/11/2017</p>
                    </div>
                    <div class="flex mb-2">
                        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"/></svg>
                        <p>Phố đi bộ Hoàn Kiếm</p>
                    </div>
                    <p>🎶🎵 Phan Đình Phùng Instrument Club, Chu The Medley và Ribbon-Band hứa hẹn sẽ đem lại cho bạn một ngày Chủ Nhật ấm áp đúng như chủ đề của sự kiện âm nhạc lần này.</p>
                    <p>🍱🍽 Và các bạn cũng không thể thưởng thức nghệ thuật với cái bụng đói được phải không? Đừng lo, hãy đến với L Ẩ U, PIC đã chuẩn bị các món ăn nhẹ phù hợp tiết trời lạnh lẽo ngày mai ❄️ 💦</p>
                    <p>🥘 Tại sao lại là LẨU? Đó chính là sự kết hợp của nhiều bài hát với đủ mọi thể loại mà bất cứ ai, bất cứ độ tuổi nào cũng có thể chung vui và ca hát cùng chúng mình 🤘🏼🤘🏼</p>
                </div>
            </div>
            <div class="shadow-lg">
                <div class="p-4">
                    <p class="text-2xl pb-2">Khách mời</p>
                    <p>Chu The Medley</p>
                    <p>Ribbon-Band</p>
                </div>
            </div>
        </div>
    </div>
</div>